{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
        {% for tl in project.tagline %}
          <hr>
          <p class="project-tagline">{{ tl.summary }}</p>
          <p><strong>需求贡献度: {{ tl.design_efforts }}</strong></p>
          <p><strong>开发贡献度: {{ tl.dev_efforts }}</strong></p>
          <p><strong>亮点与特色:</strong></p>
          {% for l in tl.lights %}
            <div class="project-tagline">{{ l }}</div>
          {% endfor %}
          <br>
          <p><strong>简要数据描述:</strong></p>
          {% for s in tl.statistics %}
            <div class="project-tagline">{{ s }}</div>
          {% endfor %}
          <br>
          <p><strong>攻克难点记录:</strong></p>
          {% for p in tl.difficults %}
            <div class="project-tagline">{{ p }}</div>
          {% endfor %}
          <br>
          <p><strong>涉及技术栈:</strong> {{tl.technologies}}</p>
        {% endfor %}
      {% endif %}

    </div><!--//item-->
    <hr>
  {% endfor %}

</section><!--//section-->
{% endif %}